<div class="p-5">
  @if(authService.isAdmin) {
    <div class="text-center">
      <button class="mt-2" mat-raised-button (click)="openDialog()">Update profile</button>
    </div>
    <hr>
  }

  <div class="grid">
    <div class="col-3 flex align-content-center justify-content-end">
      <img
        class="my-auto"
        loading="lazy"
        [ngSrc]="userProfile?.aboutUser?.photoUrl ? userProfile.aboutUser.photoUrl : '/assets/img/img-placeholder.png'"
        width="247"
        height="204"
        alt=""
      />
    </div>
    <div class="col-9">
      <h2 class="h1 mb-3">Who I am?</h2>
      <p class="fs-4 text-secondary mb-3">{{ userProfile?.aboutUser?.title }}</p>
      <p class="mb-5"> {{ userProfile?.aboutUser?.description }}  </p>

      <div class="flex align-content-center">

        <mat-icon svgIcon="backend" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span>{{ userProfile?.aboutUser?.technology?.backend }}</span>

        <mat-icon svgIcon="frontend" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span>{{ userProfile?.aboutUser?.technology?.frontend }}</span>
      </div>

    </div>
  </div>
</div>

<ng-template #dialogContent>

  <h1 class="text-center" id="exampleModalLabel">Update profile</h1>

  <form #ngForm="ngForm" (ngSubmit)="submit(ngForm)" class="grid p-fluid justify-content-center">

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Title</mat-label>
      <input matInput name="title" placeholder="title"
             [ngModel]="userProfile?.aboutUser?.title"
      />
    </mat-form-field>

    <div class="col-5 flex justify-content-center">
      <img
        loading="lazy"
        [ngSrc]="userProfile?.aboutUser?.photoUrl ? userProfile.aboutUser.photoUrl : '/assets/img/img-placeholder.png'"
        width="247"
        height="204"
       alt=""
      />
    </div>

    <mat-form-field appearance="outline" class="col-6">
      <mat-label>Description</mat-label>
      <textarea matInput name="description" placeholder="description"
        [ngModel]="userProfile?.aboutUser?.description"
      ></textarea>
    </mat-form-field>

    <div class="col-1"> </div>

    <mat-form-field appearance="outline" class="col-6">
      <mat-label>Backend</mat-label>
      <input matInput
        [ngModel]="userProfile?.aboutUser?.technology?.backend" name="backend" placeholder="backend"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-6">
      <mat-label>Frontend</mat-label>
      <input matInput
        [ngModel]="userProfile?.aboutUser?.technology?.frontend" name="frontend" placeholder="frontend"
      />
    </mat-form-field>


    <div class="col-12 flex justify-content-center">
      <button  mat-flat-button color="primary" (click)="inputField.click()">Upload image</button>
      <input #inputField hidden type="file" (change)="uploadFile($event)" />
    </div>


    <div class="col-12 flex justify-content-end">
      <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial class="mr-4"> Close </button>
      <button mat-flat-button color="primary" type="submit"> Save </button>
    </div>
  </form>
</ng-template>

<ng-template #successToast> User updated successfully </ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
