<mat-toolbar color="primary">
  <a mat-button routerLink="/home"><h1>PORTFOLIO APP</h1></a>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>

  @if(!authenticated) {
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  }

  @if(authenticated) {
    <a mat-button routerLink="/projects">Projects</a>
    <a mat-button routerLink="/about-me">About me</a>
    <a mat-button routerLink="/contact-me">Contact me</a>
    <a mat-button routerLink="/logout">Logout</a>
  }
</mat-toolbar>


