<section>
  <h1 class="text-center font-normal mb-8 mt-8">
    I am always on the lookout to work with new clients. Please get in touch in one of the following ways.
  </h1>

  @if(sendSuccess) {
    <app-alert class="alert alert-success p-0 border-0 d-flex justify-content-center m-0" message="Email send successfully"></app-alert>
  }

  <div class="flex justify-content-center">
    <form #ngForm="ngForm">
      <div class="grid p-fluid">

        <div class="col-3"></div>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            [(ngModel)]="contactForm.name"
            required  name="name" #name="ngModel"
          />
          @if(name.errors?.['required'] && (name.dirty || name.touched)) {
            <mat-error> Name is required </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Email</mat-label>
          <input
            matInput
            required [(ngModel)]="contactForm.email" name="email" #email="ngModel"
          />
          @if(email.errors?.['required'] && (email.dirty || email.touched)) {
          <mat-error> Email is required </mat-error>
          }
        </mat-form-field>

        <div class="col-3"></div>

        <div class="col-3"></div>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Phone Number</mat-label>
          <input matInput [(ngModel)]="contactForm.phoneNumber" name="phoneNumber" required #phone="ngModel" pattern="^([0-9\(\)\/\+ \-]*)$">
          <mat-icon matSuffix>phone</mat-icon>
          @if(phone.errors?.['required'] && (phone.dirty || phone.touched)) {
          <mat-error> Phone number is required </mat-error>
          }
          @if(phone.errors?.['pattern'] && (phone.dirty || phone.touched)) {
          <mat-error> Phone number is not valid </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Subject</mat-label>
          <input matInput required [(ngModel)]="contactForm.subject" name="subject" #subject="ngModel"/>
          @if(subject.errors?.['required'] && (subject.dirty || subject.touched)) {
          <mat-error> Subject is required </mat-error>
          }
        </mat-form-field>

        <div class="col-3"></div>
        <div class="col-3"></div>

        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Message</mat-label>
          <textarea matInput required [(ngModel)]="contactForm.message" name="message" #message="ngModel"></textarea>
          @if(message.errors?.['required'] && (message.dirty || message.touched)) {
          <mat-error>  Message is required </mat-error>
          }
        </mat-form-field>

        <div class="col-12 text-center">
          <button (click)="send(ngForm)" mat-flat-button color="primary">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</section>


